# Linear Regression

This notebook is a walkthrough implementation of a Linear Regression using Tensorflow 1.15. Different from the tutorial, I will be using a real dataset, the Boston House-Prices dataset, available in Scikit-learn.

In [6]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

In [2]:
x, y = load_boston(return_X_y=True)

In [5]:
x = pd.DataFrame(x)
x.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

Similarly with the tutorial, we will split the data between train and test:

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

## Working with Tensorflow

Since we are using Tensorflow 1.15, our initial goal is to create the graph and work using a Session:

In [8]:
tf.reset_default_graph()
sess = tf.Session()

The first step in the graph construction is to set the input scope, which is how the model will understand and work with the data:

In [ ]:
with tf.name_scope('input'):
    x_placeholder = tf.placeholder(shape=[None], dtype=tf.float32, name='x-pl')